container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: DAC_network_analysis/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: DAC_network_analysis.settings
  - option_name: AWS_SECRET_KEY
    value: /hLK7rg88trI3VU7suySdFz4wTyqxi2JfOFgr8/9
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJEVZUASMRYDPBHDA