<style>
svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}
</style>
<div >
	<!-- <img src="../../static/admin/img/ajax-loader.gif"> -->
	<div ng-hide="loaded">
		<h2 class="text-center">Loading...</h2>
		<h3 class="text-center">The graph may take a while to load.</h3>
	</div>
	<div author-graph  id="author-graph"></div>
	<div id="menu">
	<form class="form-horizontal" role="form" name="options"  novalidate>
		<div class="row">
		<div class="form-group col-sm-4">
			<label class="control-label col-sm-6" for="CentralityGraph">Centrality scores:</label>
				<div class="col-sm-offset-6">
			    	<div class="checkbox">
				        <label id="degree-popover">
				          <input ng-model="typeGraph" value="degreeCentrality" type="radio"> Degree
				        </label>
			    	</div>
    			</div>
    			<div class="col-sm-offset-6">
			    	<div class="checkbox">
				        <label id="between-popover">
							<input ng-model="typeGraph" value="betweennessCentrality" type="radio"> Betweenness
				        </label>
			    	</div>
    			</div>
    			<div class="col-sm-offset-6">
			    	<div class="checkbox">
				        <label id="closeness-popover">
							<input ng-model="typeGraph" value="closenessCentrality" type="radio"> Closeness
				        </label>
			    	</div>
    			</div>
    			<div class="col-sm-offset-6">
			    	<div class="checkbox">
				        <label id="eigenvector-popover">
							<input ng-model="typeGraph" value="eigenvectorCentrality" type="radio"> Eigenvector
				        </label>
			    	</div>
    			</div>
    			<div class="col-sm-offset-6">
			    	<div class="checkbox">
				        <label id="group-popover">
							<input ng-model="typeGraph" value="group" type="radio"> Group
				        </label>
			    	</div>
    			</div>
		</div>
		<div class="form-group col-sm-8" ng-class="{'has-error' : options.score.$invalid}">
			<label id="filter-score" class="control-label col-sm-4" >Filter score:</label>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-control" style="width:200px;" ui-slider min="0" max="1" step=".01" use-decimals id="score" ng-model="chosenScore"></div>
						<!-- <input class="form-control" type="number" min="0" max="1" name="score" ng-model="chosenScore"> -->
					</div>
					<div id="score-control" class="col-sm-6">
						<input class="form-control" type="number" min="0" max="1" name="score" ng-model="chosenScore">
					</div>
				</div>
			</div>
		</div>
		</div>
	</form>
	</div>
</div>
<script>

	$(document).ready(function(){
		$("#degree-popover").popover({'trigger': 'hover',
									'placement':'top',
									'title':"Degree Centrality",
									'content': "The one who has many collaborators is most important."});
		$("#between-popover").popover({'trigger': 'hover',
									'placement':'top',
									'title':"Betweenness Centrality",
									'content': "Author connecting more authors together is the central actor."});
		$("#closeness-popover").popover({'trigger': 'hover',
									'placement':'top',
									'title':"Closeness Centrality",
									'content': "A central author is characterized by many, short connections to other authors in the networks"});
		$("#eigenvector-popover").popover({'trigger': 'hover',
									'placement':'top',
									'title':"Eigenvector Centrality",
									'content': "Maybe not too many neighbors, but if you are connected to important people, you are important!"});
		$("#group-popover").popover({'trigger': 'hover',
									'placement':'top',
									'title':"Group Centrality",
									'content': "I'm not sure yet"});
	});
</script>