<style>
	#chrono{
	  font: 14px sans-serif;
	}
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	.bar {
	  fill: steelblue;
	}

	.x.axis path {
	  display: none;
	}
</style>
<div class="row">
	<div class="col-md-11" chrono  id="chrono"></div>
	<div class="col-md-1">
		<table class="table table-bordered">
			<tr>
				<th>Options:</th>
			</tr>
			<tr>
				<td>
					<label class="btn">
						<input ng-model="graphColor" type="radio" name="CentralityGraph"  value="blue"> Blue
					</label>
					<br />
					<label class="btn">
						<input ng-model="graphColor" type="radio" value="pink"> Pink 
					</label>
					<br />
					<label class="btn">
						<input type="radio" ng-model="graphColor" value="orange"> Orange
					</label>
				</td>
			</tr>
            <tr>
				<td>
					<label class="btn">
						<input ng-model="csvpath" type="radio" name="CentralityGraph"  value="../static/csv/chronological_array_top100.csv"> Top 100 Overall
					</label>
					<br />
					<label class="btn">
						<input ng-model="csvpath" type="radio" value="../static/csv/chronological_array.csv"> All Authors
					</label>
					<br />
                    <label class="btn">
						<input type="radio" ng-model="csvpath" value="../static/csv/yearly_csvs/chronological_array_2002.csv"> Top 50 2002
					</label>
					<br />
					<label class="btn">
						<input type="radio" ng-model="csvpath" value="../static/csv/yearly_csvs/chronological_array_2003.csv"> Top 50 2003
					</label>
					<br />
					<label class="btn">
						<input type="radio" ng-model="csvpath" value="../static/csv/yearly_csvs/chronological_array_2004.csv"> Top 50 2004
					</label>
					<br />
					<label class="btn">
						<input type="radio" ng-model="csvpath" value="../static/csv/yearly_csvs/chronological_array_2005.csv"> Top 50 2005
					</label>
                    <br />
					<label class="btn">
						<input type="radio" ng-model="csvpath" value="../static/csv/yearly_csvs/chronological_array_2006.csv"> Top 50 2006
					</label>
					<br />
					<label class="btn">
						<input type="radio" ng-model="csvpath" value="../static/csv/yearly_csvs/chronological_array_2007.csv"> Top 50 2007
					</label>
					<br />
					<label class="btn">
						<input type="radio" ng-model="csvpath" value="../static/csv/yearly_csvs/chronological_array_2008.csv"> Top 50 2008
					</label>
					<br />
					<label class="btn">
						<input type="radio" ng-model="csvpath" value="../static/csv/yearly_csvs/chronological_array_2009.csv"> Top 50 2009
					</label>
					<br />
					<label class="btn">
						<input type="radio" ng-model="csvpath" value="../static/csv/yearly_csvs/chronological_array_2010.csv"> Top 50 2010
					</label>
					<br />
					<label class="btn">
						<input type="radio" ng-model="csvpath" value="../static/csv/yearly_csvs/chronological_array_2011.csv"> Top 50 2011
					</label>
					<br />
					<label class="btn">
						<input type="radio" ng-model="csvpath" value="../static/csv/yearly_csvs/chronological_array_2012.csv"> Top 50 2012
					</label>
				</td>
			</tr>
		</table>
	</div>
</div>
