<!-- <div chrono  id="chrono"></div> -->
<div class="row">
	<div class="col-md-11" chrono  id="chrono"></div>
	<div class="col-md-1">
		<table class="table table-bordered">
			<tr>
				<th>Options:</th>
			</tr>
			<tr>
				<td>
					<label class="btn">
						<input ng-model="graphColor" type="radio" name="CentralityGraph"  value="blue"> Blue
					</label>
					<br />
					<label class="btn">
						<input ng-model="graphColor" type="radio" value="pink"> Pink 
					</label>
					<br />
					<label class="btn">
						<input type="radio" ng-model="graphColor" value="orange"> Orange
					</label>
				</td>
			</tr>
		</table>
	</div>
</div>
