<div >
	<!-- <img src="../../static/admin/img/ajax-loader.gif"> -->
	<div ng-hide="loaded">
		<h2 class="text-center">Loading...</h2>
		<h3 class="text-center">The graph may take a while to load.</h3>
	</div>
	<div class="row">
	<div citation-graph  id="citation-graph" class="col-sm-10"></div>
		<graph-scale class="col-sm-2"></graph-scale>	
	</div>
	
	<form class="form-horizontal" role="form" name="options"  novalidate>
		<div class="row">
		<div class="form-group col-sm-4">
			<label class="control-label col-sm-6" for="CentralityGraph">Centrality scores:</label>
				<div class="col-sm-offset-6">
			    	<div class="checkbox">
				        <label id="degree-popover">
				          <input ng-model="typeGraph" value="degreeCentrality" type="radio"> Degree
				        </label>
			    	</div>
    			</div>
    			<div class="col-sm-offset-6">
			    	<div class="checkbox">
				        <label id="between-popover">
							<input ng-model="typeGraph" value="betweennessCentrality" type="radio"> Betweenness
				        </label>
			    	</div>
    			</div>
    			<div class="col-sm-offset-6">
			    	<div class="checkbox">
				        <label id="closeness-popover">
							<input ng-model="typeGraph" value="closenessCentrality" type="radio"> Closeness
				        </label>
			    	</div>
    			</div>
    			<div class="col-sm-offset-6">
			    	<div class="checkbox">
				        <label id="eigenvector-popover">
							<input ng-model="typeGraph" value="eigenvectorCentrality" type="radio"> Eigenvector
				        </label>
			    	</div>
    			</div>
    			<div class="col-sm-offset-6">
			    	<div class="checkbox">
				        <label id="group-popover">
							<input ng-model="typeGraph" value="group" type="radio"> Group
				        </label>
			    	</div>
    			</div>
		</div>
		<div class="form-group col-sm-4" ng-class="{'has-error' : options.score.$invalid}">
			<label id="filter-score" class="control-label col-sm-4" >Filter score:</label>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-control" style="width:200px;" ui-slider min="0" max="1" step=".01" use-decimals id="score" ng-model="chosenScore"></div>
						<!-- <input class="form-control" type="number" min="0" max="1" name="score" ng-model="chosenScore"> -->
					</div>
					<div id="score-control" class="col-sm-6">
						<input class="form-control" type="number" min="0" max="1" name="score" ng-model="chosenScore">
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-4">
			<label for="year">Filter Year:</label>
			<select id="year" ng-model="jsonFile" class="form-control">
				<option value="citations.json">all</option>
				<option value="yearly_citations/citations2002.json">2002</option>
				<option value="yearly_citations/citations2003.json">2003</option>
				<option value="yearly_citations/citations2004.json">2004</option>
				<option value="yearly_citations/citations2005.json">2005</option>
				<option value="yearly_citations/citations2006.json">2006</option>
				<option value="yearly_citations/citations2007.json">2007</option>
				<option value="yearly_citations/citations2008.json">2008</option>
				<option value="yearly_citations/citations2009.json">2009</option>
				<option value="yearly_citations/citations2010.json">2010</option>
				<option value="yearly_citations/citations2011.json">2011</option>
			</select>
		</div>
		</div>
	</form>
	</div>
</div>
<script>

	$(document).ready(function(){
		$("#degree-popover").popover({'trigger': 'hover',
									'placement':'top',
									'title':"Degree Centrality",
									'content': "The one who has many collaborators is most important."});
		$("#between-popover").popover({'trigger': 'hover',
									'placement':'top',
									'title':"Betweenness Centrality",
									'content': "Author connecting more authors together is the central actor."});
		$("#closeness-popover").popover({'trigger': 'hover',
									'placement':'top',
									'title':"Closeness Centrality",
									'content': "A central author is characterized by many, short connections to other authors in the networks"});
		$("#eigenvector-popover").popover({'trigger': 'hover',
									'placement':'top',
									'title':"Eigenvector Centrality",
									'content': "Maybe not too many neighbors, but if you are connected to important people, you are important!"});
		$("#group-popover").popover({'trigger': 'hover',
									'placement':'top',
									'title':"Group Centrality",
									'content': "Groups of nodes that are clustered together."});
	});
</script>
