<!DOCTYPE html>
<h1> Geo Locations </h1>
<h6> Pins show locations of universities and organizations that have contributed to the DAC</h6>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript">
        function initialize() {
            ($.ajax({
                url: '../static/json/OrganizationLocationInfo.json',
                dataType: "json", success: function (dataInfo) {
                    var mapProp = {
                        center:new google.maps.LatLng(30.1019523,  -44.2271615),
                        zoom:3,
                        mapTypeId:google.maps.MapTypeId.ROADMAP
                    };
                    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
                    for (i = 0; i < dataInfo.length; i++) {
                        var maker = new google.maps.Marker({
                            position: new google.maps.LatLng(dataInfo[i].Lat, dataInfo[i].Lng),
                            title: dataInfo[i].Organization,
                            icon:'../static/admin/img/yellow_pin.png'
                        });
                        maker.setMap(map);
                    }
                }
            }));
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
    <div id="googleMap" style="width: 1080px; height: 760px"></div>
</body>
</html>