<hr style = "margin-top: -4%;" class="featurette-divider">

      <div   class="row featurette">
        <div  style = "background: url(../../static/admin/img/author.png); background-size: 150%; height : 250px;" class="col-md-4">
          <h2 class="featurette-heading" style = "background-color: rgba(255,255,255,0.80);">Author Network </h2>
          <p class="lead"></p>
          <a class="btn btn-primary btn-lg" href="/#/authorNetwork">View</a>
        </div>
        <div style = "background: url(../../static/admin/img/citation.png); background-size: 150%; height : 250px;" class="col-md-4">
          <h2 class="featurette-heading" style = "background-color: rgba(255,255,255,0.80);">Citation Network</h2>
          <p class="lead"></p>
          <a class="btn btn-primary btn-lg" href="/#/citationNetwork">View</a>
        </div>

        <div style = "background: url(../../static/admin/img/chrono.png); background-size: 200%; height : 250px;" class="col-md-4">
          <h2 class="featurette-heading" style = "background-color: rgba(255,255,255,0.90);">Chrono Streamgraph</h2>
          <p class="lead"></p>
          <a class="btn btn-primary btn-lg" href="/#/chrono">View</a>
        </div>

      </div>

      <hr style = "margin-top: -4%;" class="featurette-divider">

      <div class="row featurette">
        
        <div style = "background: url(../../static/admin/img/topicbubble.png); background-size: 150%; height : 250px;" class="col-md-4">
          <h2 class="featurette-heading" style = "background-color: rgba(255,255,255,0.80);">Topic Bubble</h2>
          <p class="lead"></p>
          <a class="btn btn-primary btn-lg" href="/#/topicbubble">View</a>
        </div>

        <div style = "background: url(../../static/admin/img/phrasetimeline.png); background-size: 110%; height : 250px;" class="col-md-4">
          <h2 class="featurette-heading" style = "background-color: rgba(255,255,255,0.90);">Phrase Timeline</h2>
          <p class="lead"></p>
          <a class="btn btn-primary btn-lg" href="/#/phrasetimeline">View</a>
        </div>
       
       <div style = "background: url(../../static/admin/img/geolocations.png); background-size: 150%; height : 250px;" class="col-md-4">
          <h2 class="featurette-heading" style = "background-color: rgba(255,255,255,0.90);">Geo Locations </h2>
          <p class="lead"></p>
          <a class="btn btn-primary btn-lg" href="/#/geolocation">View</a>
        </div>

      </div>

      <hr style = "margin-top: -4%;" class="featurette-divider">

      <div class="row featurette">


        <div style = "background: url(../../static/admin/img/freqplot.png); background-size: 250%; height : 250px;" class="col-md-4">
          <h2 class="featurette-heading" style = "background-color: rgba(255,255,255,0.90);">Frequency Plot </h2>
          <p class="lead"></p>
          <a class="btn btn-primary btn-lg" href="/#/freqplot">View</a>
        </div>


        <div  class="col-md-4">

        </div>

        <div  class="col-md-4">

        </div>

      </div>