<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Author Network</h2>
          <p class="lead"></p>
          <a class="btn btn-primary btn-lg" href="/#/authorNetwork">View</a>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="../../static/admin/img/author.png" width="600" height="400" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="../../static/admin/img/citation.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Citation Network</h2>
          <p class="lead"></p>
          <a class="btn btn-primary btn-lg" href="/#/citationNetwork">View</a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Chronological Streamgraph</h2>
          <p class="lead"></p>
          <a class="btn btn-primary btn-lg" href="/#/chrono">View</a>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="../../static/admin/img/chrono.png" width="600" height="400" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">