<style>
	#left-container{
		position: fixed;
		float:left;
		overflow: hidden;
		width: 15%;
		right:98%;
		height:100%;
		background-color:#f5f5f5;
		top:7%;
	}
	.left-middle{
		position:relative;
		top:40%;
		height:100%;
	}
	.glyphicon-chevron-right, .glyphicon-chevron-left{
		font-size:1.6em;
	}
</style>
				

<div  id="left-container" >
	<table style="height:100%" class="table" >
		<tr>
			<td >
				<h4>Search Results:</h4>
				<div class="list-group">
					<a ng-show="search !== null && search !=='' " class="list-group-item" ng-repeat="node in nodes | filter:search" ng-click="postAuthorId(node.id)">{$ node.name $}</a>
				</div>
			</td>
			<td style="padding:2px;" class="left-middle">
				<div ng-show="leftOpened===false" ng-click="leftOpen()" class="glyphicon glyphicon-chevron-right"></div>
				<div ng-show="leftOpened===true" ng-click="leftClose()" class="glyphicon glyphicon-chevron-left"></div>
			</td>
		</tr>
	</table>
</div>