<nav id="mynav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="home-tab"><a class="navbar-brand" ng-click="tabClicked('home-tab')" href="/#/home">DAC Citation Network</a></li>
        <li id="author-tab"><a  ng-click="tabClicked('author-tab')" href="/#/authorNetwork">Author Network</a></li>
        <li id="citation-tab"><a ng-click="tabClicked('citation-tab')" href="/#/citationNetwork">Citation Network</a></li>
        <li id="topics-tab"><a ng-click="tabClicked('topics-tab')" href="/#/topicbubble">Topic Bubble</a></li>
        <!-- <li><a href="/#/staticAuthor">Static Author Network</a></li> -->
        <li id="chrono-tab"><a ng-click="tabClicked('chrono-tab')" href="/#/chrono">Chronological Streamgraph</a></li>
        <li id="freq-tab"><a ng-click="tabClicked('freq-tab')" href="/#/freqplot">Frequency vs. Degree Plot</a></li>
        <li id="feedback-tab"><a ng-click="tabClicked('feedback-tab')" href="/#/feedback">Feedback</a></li>
      </ul>
        <form ng-hide=" searchType === null " class="navbar-form navbar-right" role="search" >
            <div class="form-group">
              <input type="text" ng-model="search" class="form-control" placeholder="search">
              <button class="btn btn-default" ng-click="submitSearch()" type="submit">{$ searchType $}</button>
            </div>
        </form>
    </div><!--/.nav-collapse -->
</div>
</nav>
