<style>
	#right-container{
		position: fixed;
		float:right;
		overflow: hidden;
		width: 15%;
		left:98%;
		height:100%;
		background-color:#f5f5f5;
		top:7%;
	}
	.right-middle{
		position:relative;
		top:40%;
		height:100%;
	}
	.glyphicon-chevron-right, .glyphicon-chevron-left{
		font-size:1.6em;
	}
</style>
				

<div  id="right-container" >
	<table  style="height:100%" class="table table-bordered">
		<tr>
			<td style="padding:3px;" class="right-middle" >
				<div ng-show="rightOpened===false" ng-click="rightOpen()" class="glyphicon glyphicon-chevron-left"></div>
				<div ng-show="rightOpened===true" ng-click="rightClose()" class="glyphicon glyphicon-chevron-right"></div>
			</td>
			<td>
				<div id="forAuthorNetwork" ng-show="myLocation.path() === '/authorNetwork' ">
					<h4 >Author Info:</h4>
					<p><strong>Name: </strong><br/> {$ name $}</p>
					<p class="text-center"><strong>Unnormalized Scores: </strong></p>
					<p><strong>Degree: </strong><br/> {$ degree $} </p>
					<p><strong>Betweenness: </strong><br/> {$ betweenness $} </p>
					<p><strong>Closeness: </strong><br/> {$ closeness $} </p>
					<p><strong>Eigenvector: </strong><br/> {$ eigen $} </p>
					<p><strong>Group: </strong><br/> {$ group $} </p>
					<h4>Author's Papers:</h4>
					<div class="list-group">
						<div class="dropdown" ng-repeat="paper in authorPapersHolder">
							<a class="list-group-item dropdown-toggle" data-toggle="dropdown"  >{$ paper.title $}<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="{$paper.url$}" target="_blank">View on Scopus</a></li>
								<li role="presentation" ng-click="showPaperInGraph(paper.doi)"><a role="menuitem" tabindex="-1">View in citation graph</a></li>
							</ul>
						</div>

						<a ng-show="moreAuthorPapers && authorPapers.length > 2" ng-click="selectAmountOfInfo('moreAuthorPapers', 'authorPapers', 'authorPapersHolder')">View more here</a>
						<a ng-hide="moreAuthorPapers || authorPapers.length <= 2" ng-click="selectAmountOfInfo('moreAuthorPapers', 'authorPapers', 'authorPapersHolder', 2)">Hide papers</a>
					</div>
					<h4>Co-Authors: </h4>
					<div class="list-group">
						<a class="list-group-item" ng-click="authorClicked(coauthor)" ng-repeat="coauthor in authorAffiliatesHolder">{$ coauthor.name $}</a>
						<a ng-show="moreCoAuthors && authorAffiliates.length > 2" ng-click="selectAmountOfInfo('moreCoAuthors', 'authorAffiliates', 'authorAffiliatesHolder')">View more</a>
						<a ng-hide="moreCoAuthors || authorAffiliates.length <= 2" ng-click="selectAmountOfInfo('moreCoAuthors', 'authorAffiliates', 'authorAffiliatesHolder', 2)">Hide papers</a>
					</div>
					<h4>Similar-Authors: </h4>
					<h6>Click <a target= "_blank" href = "http://www-dev.ccs.neu.edu/home/yzsun/papers/vldb11_topKSim.pdf"> here</a> to find out how similar authors were calculated through the PathSim Algorithm</h6>
					<div class="list-group">
						<a class="list-group-item" ng-click="authorClicked(sim_author)" ng-repeat="sim_author in simAuthorAffiliatesHolder">{$ sim_author.name $}</a>
						<a ng-show="moreSimAuthors && similarAuthors.length > 2" ng-click="selectAmountOfInfo('moreSimAuthors', 'similarAuthors', 'simAuthorAffiliatesHolder')">View more</a>
						<a ng-hide="moreSimAuthors || authorAffiliates.length <= 2" ng-click="selectAmountOfInfo('moreSimAuthors', 'similarAuthors', 'simAuthorAffiliatesHolder', 2)">Hide papers</a>
					</div>
					<!--<h4>Toggle Clustering</h4><input type="checkbox" name="authorShowClustering">-->
				</div>
				<div id="forCitationNetwork" ng-show="myLocation.path() === '/citationNetwork' ">
					<h4>Paper Information:</h4>
					<p><strong>Title: </strong><br/> {$ name $}</p>
					<p class="text-center"><strong>Unnormalized Scores: </strong></p>
					<p><strong>Degree: </strong><br/> {$ degree $} </p>
					<p><strong>Betweenness: </strong><br/> {$ betweenness $} </p>
					<p><strong>Closeness: </strong><br/> {$ closeness $} </p>
					<p><strong>Eigenvector: </strong><br/> {$ eigen $} </p>
					<p><strong>Group: </strong><br/> {$ group $} </p>
					<h4>Authors: </h4>
					<div class="list-group">

						<a class="list-group-item" ng-repeat="author in paperAuthorsHolder">{$ author.name $}</a>
						<a ng-show="moreAuthors && paperAuthors.length > 2" ng-click="selectAmountOfInfo('moreAuthors', 'paperAuthors', 'paperAuthorsHolder')">View more</a>
						<a ng-hide="moreAuthors || paperAuthors.length <= 2" ng-click="selectAmountOfInfo('moreAuthors', 'paperAuthors', 'paperAuthorsHolder', 2)">Hide papers</a>
					</div>
					<h4>Cited in: </h4>
					<div class="list-group">
						<div class="dropdown" ng-repeat="cited in paperCitedHolder">
							<a class="list-group-item dropdown-toggle" data-toggle="dropdown">{$ cited.name $}<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="{$cited.url$}" target="_blank">View paper on Scopus</a></li>
								<li role="presentation" ng-click="showPaperInGraph(cited.doi)"><a role="menuitem" tabindex="-1">View in citation graph</a></li>
							</ul>
						</div>
						<a ng-show="moreCited && paperCited.length > 2" ng-click="selectAmountOfInfo('moreCited', 'paperCited', 'paperCitedHolder')">View more</a>
						<a ng-hide="moreCited || paperCited.length <= 2" ng-click="selectAmountOfInfo('moreCited', 'paperCited', 'paperCitedHolder', 2)">Hide papers</a>

					</div>
					<h4>Cites: </h4>
					<div class="list-group">
						<div class="dropdown" ng-repeat="cites in paperCitesHolder">
							<a class="list-group-item dropdown-toggle" data-toggle="dropdown">{$ cites.name $}<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="{$cites.url$}" target="_blank">View paper on Scopus</a></li>
								<li role="presentation" ng-click="showPaperInGraph(cites.doi)"><a role="menuitem" tabindex="-1">View in citation graph</a></li>
							</ul>
						</div>
						<a ng-show="moreCites && paperCites.length > 2" ng-click="selectAmountOfInfo('moreCites', 'paperCites', 'paperCitesHolder')">View more</a>
						<a ng-hide="moreCites || paperCites.length <= 2" ng-click="selectAmountOfInfo('moreCites', 'paperCites', 'paperCitesHolder', 2)">Hide papers</a>

					</div>
					<h4>Similar Papers: </h4>
					<h6>Phrase Topic Modelling was done using ToPMine to find similar papers using a cosine similarity measure, click <a target= "_blank" href = "http://arxiv.org/pdf/1406.6312.pdf"> here</a> to read the paper.</h6>
					<div class="list-group">
						<div class="dropdown" ng-repeat="simPaper in similarPapersHolder">
							<a class="list-group-item dropdown-toggle" data-toggle="dropdown">{$ simPaper.title $}<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="{$ simPaper.url $}" target="_blank">View paper on Scopus</a></li>
								<li role="presentation" ng-click="showPaperInGraph(simPaper.doi)"><a role="menuitem" tabindex="-1">View in citation graph</a></li>
							</ul>
						</div>
						<a ng-show="moreSimilarPapers && similarPapers.length > 2" ng-click="selectAmountOfInfo('moreSimilarPapers', 'similarPapers', 'similarPapersHolder')">View more</a>
						<a ng-hide="moreSimilarPapers || similarPapers.length <= 2" ng-click="selectAmountOfInfo('moreSimilarPapers', 'similarPapers', 'similarPapersHolder', 2)">Hide papers</a>
					</div>
					<!--<h4>Toggle Clustering</h4><input type="checkbox" name="citationShowClustering">-->
				</div>
				
				
				

				
			</td>
		</tr>
	</table>

</div>