<style>
	#right-container{
		position: fixed;
		float:right;
		overflow: hidden;
		width: 15%;
		left:98%;
		height:100%;
		background-color:#f5f5f5;
		top:7%;
	}
	.right-middle{
		position:relative;
		top:40%;
		height:100%;
	}
	.glyphicon-chevron-right, .glyphicon-chevron-left{
		font-size:1.6em;
	}
</style>
				

<div  id="right-container" >
	<table  style="height:100%" class="table table-bordered">
		<tr>
			<td style="padding:3px;" class="right-middle" >
				<div ng-show="rightOpened===false" ng-click="rightOpen()" class="glyphicon glyphicon-chevron-left"></div>
				<div ng-show="rightOpened===true" ng-click="rightClose()" class="glyphicon glyphicon-chevron-right"></div>
			</td>
			<td>
				<h4>Author Information:</h4>
				<p><strong>Name: </strong><br/> {$ authorName $}</p>
				<p><strong>Centrality: </strong><br/> {$ centrality $} </p>
				<p><strong>Score: </strong><br/> {$ centralityScore $} </p>
				<h4>Author's Papers:</h4>
				<div class="list-group">
					<!--  -->
					<div class="dropdown" ng-repeat="paper in viewAuthorPapers(viewNumber)">
						<a class="list-group-item dropdown-toggle" data-toggle="dropdown"  >{$ paper.title $}<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="{$paper.url$}">View paper</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1">View in graph</a></li>
						</ul>
					</div>
					<a ng-show="viewNumber === 2 && authorPapers.length > 2" ng-click="addMorePapers();">View more</a>
					<a ng-hide="viewNumber === 2 || authorPapers.length <= 2 " ng-click="hidePapers()">Hide papers</a>
				</div>
				<h4>Author's Co-Authors:</h4>
				<div class="list-group">
					<a class="list-group-item" ng-repeat="affiliate in authorAffiliates" ng-click="affiliateSelected(affiliate.name)">{$ affiliate.name $}</a>

				</div>
			</td>
		</tr>
	</table>

</div>