<style>
	#right-container{
		position: fixed;
		float:right;
		overflow: hidden;
		width: 15%;
		left:98%;
		height:100%;
		background-color:#f5f5f5;
		top:7%;
	}
	.right-middle{
		position:relative;
		top:40%;
		height:100%;
	}
	.glyphicon-chevron-right, .glyphicon-chevron-left{
		font-size:1.6em;
	}
</style>
				

<div  id="right-container" >
	<table  style="height:100%" class="table table-bordered">
		<tr>
			<td style="padding:3px;" class="right-middle" >
				<div ng-show="rightOpened===false" ng-click="rightOpen()" class="glyphicon glyphicon-chevron-left"></div>
				<div ng-show="rightOpened===true" ng-click="rightClose()" class="glyphicon glyphicon-chevron-right"></div>
			</td>
			<td>
				<h4>Author Information:</h4>
				<p><strong>Name: </strong><br/> {$ authorName $}</p>
				<p><strong>Centrality: </strong><br/> {$ centrality $} </p>
				<p><strong>Score: </strong><br/> {$ centralityScore $} </p>
				<h4>Author's Papers:</h4>
				<div class="list-group">
					<a class="list-group-item" ng-repeat="paper in authorPapers" href="{$paper.url$}">{$ paper.title $}</a>
				</div>
				<h4>Author's Affiliates:</h4>
				<div class="list-group">
					<a class="list-group-item" ng-repeat="affiliate in authorAffiliates" ng-click="affiliateSelected(affiliate.name)">{$ affiliate.name $}</a>
				</div>
			</td>
		</tr>
	</table>

</div>