<style>
	.container{
		position: absolute;
		overflow: hidden;
		max-width: 220px;
		right:99.5%;
		height:100%;
		background-color:#f5f5f5;
	}
	.middle{
		position:fixed;
		/*height:50%;*/
		/*width:75%;*/
		top:45%;
		/*vertical-align: middle;*/
		/*margin: 0 0 0 -37.5%;*/
	}
	.glyphicon-chevron-right, .glyphicon-chevron-left{
		font-size:1.6em;
	}
	.open-close{
		position: relative;
		/*right:%;*/
	}
</style>
				

<div  class="container" style="float: left;">
	<table class="table" style="height:100%;">
		<tr class="open-close">
			<!-- <th></th> -->
			<td >
				<h4>Search Results:</h4>
				<div class="list-group">
					<a ng-show="search !== null && search !=='' " class="list-group-item" ng-repeat="node in nodes | filter:search" ng-click="postAuthorId(node.ID)">{$ node.name $}</a>
				</div>
			</td>
			<td class="middle">
				<div ng-show="opened===false" ng-click="open()" class="open-close middle glyphicon glyphicon-chevron-right"></div>
				<div ng-show="opened===true" ng-click="close()" class="glyphicon glyphicon-chevron-left"></div>
			</td>
		</tr>
	</table>
</div>