<meta charset="utf-8">

<div class="container">
	<div class="description">
		<h1> Phrase Timeline </h1>
		<h6> Key phrase mining was done on each years papers and the key phrases are presented below</h6>
	</div>
	<div  class="tb_cont">
		<div style = "margin-top:9%; margin-bottom: 5%" phrasetimeline id="phrasetimeline"></div>
	</div>

</div>

<head>
<script src="../static/js/lib/timeline_lib/jquery.min.js"></script>
<script src="../static/js/lib/timeline_lib/scripts.js"></script>

<style>
	.container {
		position: relative;
	}
	#phrasetimeline{
		position: absolute;
	  	font: 10px sans-serif;
	  	color: #333;
	  	margin-left: -3%;
	  	top: 0;
	}

	.description {
		position: absolute;
		top: 50;
		left: -50;
		z-index: 9999;
	}

	.tb_cont {
		z-index: 0;
		margin-top: 10px;
	}
	.label{
		font-size: 125%;
	}
</style>