<!DOCTYPE html>
<html lang="en" ng-app="CitationNetwork">
<head>
    <title>DAC Citation Network</title>
	<style>
		.axis-label{
			font-weight: bold;
		}
		.node {
		  stroke: #fff;
		  stroke-width: 1.5px;
		}

		.link {
		  stroke: #999;
		  stroke-opacity: .8;
		}
		.graphs {
	        max-width: 80%;
	        max-height: 100%;
	        padding: 19px 29px 29px;
	        margin: 0 auto 20px;
	        background-color: #fff;
	        /*border: 1px solid #e5e5e5;*/
	      }
		body{
			padding-top: 55px;
		}
	</style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link href="/static/js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/static/js/lib/jquery/jquery-ui.min.css" rel="stylesheet">
	<script src="/static/js/d3.min.js" charset="utf-8"></script>
	<script src="/static/js/lib/jquery/jquery-1.11.0.min.js"></script>
	<script src="/static/js/lib/jquery/jquery-ui.min.js"></script>
	<script src="/static/js/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/lib/angular/angular.js"></script>
	<script src="/static/js/lib/angular/ui-bootstrap-tpls-0.10.0.min.js"></script>
	<!-- MIGHT NOT BE ABLE TO USE THIS -->
	<script src="/static/js/lib/angular/slider.js"></script>
	<script src="/static/js/lib/angular/angular-cookies.js"></script>
	<script src="/static/js/lib/angular/angular-route.js"></script>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/services/MessageServer.js"></script>
	<script src="/static/js/directives/NavbarDir.js"></script>
	<script src="/static/js/directives/LeftSidebarDir.js"></script>
	<script src="/static/js/directives/RightSidebarDir.js"></script>
	<script src="/static/js/directives/ScaleDir.js"></script>
	<script src="/static/js/directives/AuthorNetworkGraphDir.js"></script>
	<script src="/static/js/Graph.js"></script>
	<script src="/static/js/directives/StaticAuthorDir.js"></script>

	<script src="/static/js/directives/TopicBubble.js"></script>	
	<script src="/static/js/directives/TopicTimeLine.js"></script>
	<script src="/static/js/directives/CitationNetworkGraphDir.js"></script>
	<script src="/static/js/directives/FrequencyPlotDir.js"></script>
	<script src="/static/js/directives/ChronologicalStreamDir.js"></script>
	<script src="/static/js/controllers/CentralityDetailsCtrl.js"></script>
	<script src="/static/js/controllers/FeedbackCtrl.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript"
	  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
	<script type="text/javascript">
		// console.log($(document).scrollTop());
		
		$(document).ready(function(){
		    var height = $(window).height();
		    $("#webpage").css("height", height-10);
		    $(".resize").css("height", height-10);
		});
		
	</script>

</head>
<body>

	<mynavbar></mynavbar>
	<div id="webpage" ng-controller="myCtrl">
		<div class="graphs" ng-view></div>
		<left-sidebar ng-show="showSidebars"></left-sidebar>
		<right-sidebar ng-show="showSidebars"></right-sidebar>
	</div>	
	<script src="/static/js/network_graph.js" charset="utf-8"></script>

</body>

</html>